replicas: 1

esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: false
    xpack.security.http.ssl.enabled: false
    xpack.security.transport.ssl.enabled: false
    discovery.type: single-node

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi

resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "2Gi"

service:
  type: ClusterIP

extraEnvs:
  - name: ES_JAVA_OPTS
    value: "-Xms512m -Xmx512m"
