# Podinfo (frontend) configuration
replicaCount: 1

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9898"
  prometheus.io/path: "/metrics"

extraArgs:
  - --otel-service-name=podinfo-frontend

extraEnvs:
  - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
    value: "http://jaeger-collector.observability.svc.cluster.local:4317"

ui:
  color: "#3455db"
  message: "Frontend service"
  logo: ""

backend: "http://podinfo-backend:9898/echo"
